h1 {
    color : white;
    background-color: black;
    font-weight: bold;
    font-family: fantasy;
}

h2 {
    text-align: center;
    color: white;
    background-color: blueviolet;
    font-style: italic;
}

h3 {
    text-align: right;
    background-color: lightskyblue;
    text-decoration: blink;
}
